<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
<!--  <filter>-->
<!--    <filter-name>ResponseOverrideFilter</filter-name>-->
<!--    <filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>-->
<!--  </filter>-->
<!--  <filter-mapping>-->
<!--    <filter-name>ResponseOverrideFilter</filter-name>-->
<!--    <url-pattern>*.do</url-pattern>-->
<!--  </filter-mapping>-->
<!--  <filter-mapping>-->
<!--    <filter-name>ResponseOverrideFilter</filter-name>-->
<!--    <url-pattern>*.jsp</url-pattern>-->
<!--  </filter-mapping>-->
  <filter-mapping>
    <filter-name>refreshAccessToken</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
